# FORMAT PRINT

In [7]:
a = "Ganesh"

In [8]:
type(a)

str

In [9]:
print(a)

Ganesh

In [10]:
print("MY Name is {}".format(a))

MY Name is Ganesh

In [31]:
print("MY Name is {name} , I'm in {b} Chennai ".format(name = "Arun Sriram", b = "PMIST"))

MY Name is Arun Sriram , I'm in PMIST Chennai

In [42]:
print("study well by {study}".format(study = "farandhaman"))

study well by farandhaman

In [43]:
print("MY Name is {}. i'm from {}".format("asdljkjjf","sadwsfd"))

MY Name is asdljkjjf. i'm from sadwsfd

In [45]:
print("MY Name is {}. i'm from {}".format("asdljkjjf","sadwsfd......."))

MY Name is asdljkjjf. i'm from sadwsfd.......

# F-PRINT

In [56]:
print(f"my name is {'ganesha'} , I'm a Robot {'engineeeerrr'}")

my name is ganesha , I'm a Robot engineeeerrr

# TASK1
She "sell" sea shell in  "sea shore"

In [69]:
c = '"Sell"'
d = '"sea shore"'

In [68]:
print("She",c,"sea shell in",d)

She  "Sell"  sea shell in  "sea shore"

In [74]:
print("She{}sea shell in{}".format(' "Sell" ', ' "Sea shore" '))

She "Sell" sea shell in "Sea shore"

In [80]:
input()

209

'209'

In [78]:
var99 = input()

parandhanam

In [79]:
var99

'parandhanam'

In [ ]:
var98 = int(input("Enter your phone (only girls) :"))